body{
    margin : 0;
}
.container {
    padding : 16px;
}
.intro {
    margin:-16px;
    padding: 16px;
    background-color: rgb(15, 15, 15);
    color : white;
    text-align: center;
}

.intro img{
    height: 400px;
    width: 400px;
    border-radius: 16px;
}