body{
    margin : 0;
    font-family : Arial, Helvetica, sans-serif;
    line-height: 2em;
}
.container {
    padding : 16px;
}
.container > div > h2 {
    text-align: center;
}
.intro {
    margin:-16px;
    padding: 16px;
    background-color: rgb(15, 15, 15);
    color : white;
    text-align: center;
}

#profile_pic {
    height: 400px;
    width: 400px;
    border-radius: 16px;
}
.social-links img {
    height: 30px;
    width: 30px
}
.social-links a {
    text-decoration: none;
    margin: auto 16px;
}

table,
tr,
td,
th {
    border: 1px solid;
    border-collapse: collapse;
}
th,td{
    padding: 8px;
}
table{
    width: 100%;
}